= form_for(:session, url: login_path) do |f|
  .form-group
    = f.label :user_id, 'ユーザーID'
    = f.text_field :user_id, class: 'form-control'
  .form-group
    = f.label :password, 'パスワード'
    = f.password_field :password, class: 'form-control'
  = f.submit "ログイン", class: 'btn btn-primary'