= render partial: "share/logout"
= link_to '写真アップロード', new_image_path, class: 'btn btn-primary'
- if session[:access_token].present?
  = link_to 'MyTweetAppと連携中', oauth_connect_path, class: 'btn btn-primary disabled'
- else
  = link_to 'MyTweetAppと連携', oauth_connect_path, class: 'btn btn-primary'

%h1 写真⼀覧
.image-list
  - @images.each do |image|
    .image-item
      .image-title= image.title
      = image_tag image.image_file, class: 'img-thumbnail'
      - if session[:access_token].present?
        = link_to 'ツイートする', oauth_tweet_path({id: image.id}), class: 'btn btn-primary'
